<div class="weather">
    <div class="centre">
        <form class="o-forms" method='get' action='/?city'>
            <div class="o-forms__affix-wrapper">
                <input id="text-suffix" type="text" class="o-forms__text" name="city" placeholder="enter a city name" id='city'>
                <div class="o-forms__suffix">
                    <input type="submit" id="search" value="search" class="o-buttons o-buttons--primary o-buttons--big" />
                </div>
            </div>
        </form>
    </div>
    {{#if location}}
    <h2 class="title" id="title">{{location}}</h2>
    <div class="container" id="container">
        <div class="card">
            <div class='content '>
                <div class="icon">
                    <span class="hide">{{main}}</span>
                    <img src="/icon/Rainy.png" class="image" />
                </div>
                <h3 class="main"> {{temperature}}&deg;C</h3>
                <p class="description">{{description}}</p>
                <small>{{dt}}</small>
            </div>
        </div>
        {{/if}}
    </div>

</div>