<div class="weather">
    <div class="centre">
        <form class="o-forms" method='get' action='/?city'>
            <div class="o-forms__affix-wrapper">
                <input id="text-suffix" type="text" class="o-forms__text" name="city" placeholder="enter a city name" id='city'>
                <div class="o-forms__suffix">
                    <input type="submit" id="search" value="search" class="o-buttons o-buttons--primary o-buttons--big" />
                </div>
            </div>
        </form>
    </div>
    <h2 class="title" id="title">{{city}}</h2>
    <div class="centre">
        <form action="/current" class="centre" method="POST" id="form">
            <input class="hide" value="" id="lat" name="lat">
            <input class="hide" value="" id="lon" name="lon">
            <button class="o-buttons o-buttons--primary o-buttons--big" id="submit"> get the weather for your current location
            </button>
        </form>

        {{#if data}}
    </div>
    <div class="container " id="container ">


        {{#each data}}
        <div class="card">
            <div class="content">
                <div class="icon">
                    {{#if main}}{{#each weather}}
                    <span class="hide">{{main}}</span>{{/each}}
                    <img src="/icon/Rainy_w.png" class="image" alt="icon of the weather" /> {{/if}}
                </div>
                <h3 class="main"> {{main.temp}}&deg;C</h3>
                {{#each weather}}
                <p class="description">{{description}}</p>
                {{/each}}
                <small class="date">{{dt_txt}}</small>
            </div>
        </div>
        {{/each}} {{/if}}
    </div>
</div>