<div class="weather">
    <form action='/?city' method="get" class="formContent centre">
        <input id='city' name='city' class='city' type='text' placeholder="enter a city name" />
        <input type="submit" id="search" value="search" class="btn search">
    </form>
    <h2 class="title" id="title">{{city}}</h2>
    <div class="centre">
        <form action="/current" class="centre" method="POST" id="form">
            <input class="hide" value="" id="lat" name="lat">
            <input class="hide" value="" id="lon" name="lon">
            <button class="btn location" id='submit'> get the weather for your current location
            </button>
        </form>
        {{#if data}}
    </div>
    <div id="geo" class="centre"></div>
    <div class="container" id="container">


        {{#each data}}
        <div class="card">
            <div class='content '>
                <div class="icon">
                    {{#if main}}{{#each weather}}
                    <span class="hide">{{main}}</span>{{/each}}
                    <img src="/icon/Rainy.png" class="image" /> {{/if}}
                </div>
                <h3 class="main"> {{main.temp}}&deg;C</h3>
                {{#each weather}}
                <p class="description">{{description}}</p>
                {{/each}}
                <small class="date">{{dt_txt}}</small>
            </div>
        </div>
        {{/each}} {{/if}}
    </div>

</div>

{{!-- <button onclick="getLocation()"> </button> --}}